*.[oa]
*.obj
*.svn

# editor junk files
*~
*.orig
tags
*.swp

# dlang
build/
.dub
docs.json
__dummy.html
*.lst
__test__*__

# rust
target/
**/*.rs.bk

# python
*.pyc

llama_build/
build_llama
workarea
dub.selections.json
llm_fun/workarea
llm_fun/data/rag.json
llm_fun/data/scratch
